.root {
  background-color: #1A73E8 ;
  color: #fff !important;
  padding: 5px;
  position: sticky;
  top: 0px;
  z-index: 1000;
  padding:  10px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.box > * {
  /* width: 300px;
  margin: auto; */
  color: #fff !important;
}

.input {
  width: 250px;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  color: #fff;
}

.input::placeholder {
  color: #eeeeee;
}

.inputBox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swapBox {
  display: flex;
  align-items: center;
}
