.root {
  background-color: #1a73e8;
  padding: 0px;
  color: #fff;
  padding: 5px;
}

.box {
    display: flex;
    justify-content: space-between;
    
}

.infoBox {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    
}
.info  span {
    font-size: 0.9rem;
}

.title {
    display: flex;
}
