.searchBox {
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0px;
  background: #ffff;
  width: 400px;
  height: 100vh;
  -webkit-box-shadow: -2px 1px 5px 0px rgba(107, 107, 107, 0.3);
  -moz-box-shadow: -2px 1px 5px 0px rgba(107, 107, 107, 0.3);
  box-shadow: -2px 1px 5px 0px rgba(107, 107, 107, 0.3);
  overflow-y: auto;
}

.inputBox {
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0px rgba(87, 86, 87, 0.3);
  transition: width 0.5s;
}

.inputBox > div > input {
  border: none;
  padding: 15px;
  outline: none;
  width: 370px;
}
