.root {
    margin: auto 10px;
}
.routeBox{
    display: flex;
    justify-content: flex-start;
    margin: 10px auto;
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.info > strong {
    font-size: 0.9rem;
}

.info > span {
    font-size: 0.8rem;
    color: grey;
}